<html>
<head>
    <title>Diary v2</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <span>Привет, {{ username }}</span>
        <a href="/logout">Выход</a>
        <a href="/diary">Назад</a>
    </div>
    <div class="container">
        <h2>Курс валют от Нацбанка</h2>
        <table>
            <tr><th>Валюта</th><th>Курс</th></tr>
            {% for rate in rates %}
                <tr><td>{{ rate['Cur_Abbreviation'] }}</td><td>{{ rate['Cur_OfficialRate'] }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="footer">
        {{ current_date }} - Мой дневник
    </div>
</body>
</html>
